# Auto detect text files and perform LF normalization
Nama : Andika Febriansyah NIM : 20050974060 Kelas :PTI B 2020

Disini device saya tidak bisa mengunduh file database SQL jadi saya menyertakan data base berupa folder
yang bisa anda tempatkan di C:\xampp\mysql\data
* text=auto
